/* container*/

.container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

/* section-heading */
.section-heading {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    position: relative;
    word-spacing: 5px;
    color: #E02C6D;
}

.section-heading::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 150px;
    height: 4px;
    background-color: #2D25A0;
    border-radius: 200px;
}


/* Font */

.description-lg {
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
    margin: 10px 0;
}

.description-xl {
    font-weight: 400;
    line-height: 28px;
    color: #6C6C6C;
}

.font-lg {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 10px 0;
}

.font-xl {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

/* button */

.btn {
    display: inline-block;
    padding: 10px 24px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #E02C6D;
    font-size: 16px;
    color: #ffffff;
    transition: transform 0.5s ease-in;
}

.btn:hover {
    transform: scale(.95);
}

.btn>img {
    vertical-align: middle;
    margin-right: 8px;
    width: 24px;
    height: 24px;

}

.btn>i {
    margin-left: 8px;
}

/* Display Flex */

.d-flex {
    display: flex;
}

.d-flex-ai-c {
    align-items: center;
}

.d-flex-jc-c {
    justify-content: center;
}

.d-flex-jc-sb {
    justify-content: space-between;
}

.d-flex-fd-c {
    flex-direction: column;
}

/* animation */

@keyframes zoom-in {
    0% {
        transform: scale(.3, .3);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes from-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}